.Cart {
  /* padding: 100px; */

  & .cartItem {
    font-size: 0.8em;
    border: 1px solid var(--dark2);
    padding: 10px;
    margin: 10px 0 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
      "name price"
      "for special-requests"
      "empty remove";

    & div {
      /* margin: 10px; */
    }

    & .name {
      grid-area: name;

      & h2 {
        margin: 0;

        & span.category {
          font-size: 0.5em;
        }
      }
    }

    & .price {
      grid-area: price;
      font-size: 1.2em;
      font-weight: bold;
      text-align: right;
    }

    & .for {
      grid-area: for;
    }

    & .special-requests {
      grid-area: special-requests;

      & label {
        display: block;
      }

      & textarea {
        width: 100%;
        min-height: 4em;
      }
    }

    & .remove {
      grid-area: remove;
      text-align: right;
    }
  }

  & #totals {
    & p {
      font-size: 1.2em;
      font-weight: bold;
      text-align: right;
    }

    & div {
      font-size: 1.2em;
      text-align: right;

      & input {
        width: 5em;
        display: inline;
        text-align: right;
      }
    }
  }
}